:root {
    --commongap: 95px;
  }
  
  .header {
    max-width: 100%;
    box-sizing: border-box;
    height: 80px;
    padding: 0 40px; /* Combine padding values into shorthand */
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 60px;
  }
  
  .searchBar {
    border: 1px solid black;
    height: 40px;
    width: 45%;
    margin-left: var(--commongap);
    border-radius: 8px;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
  }
  
  .searchInput {
    border: none;
    outline: none;
    width: calc(100% - 40px); /* Adjust width to leave space for the search icon */
    height: 100%;
    font-size: large;
    border-radius: 10px;
    padding-left: 20px;
  }
  
  .search {
    height: 30px;
    margin-left: 5px;
    display: flex; /* Use flexbox to align items vertically */
    align-items: center; /* Center items vertically */
  }
  
  .logo {
    height: 68px;
  }
  
  .accountCircle,
  .cart {
    width: 40px;
    display: inline-block;
    margin-left: var(--commongap);
  }
  