#header{
    width: 100%;
    height: 90px;
}
#searchBar{
    border: 1px solid black;
    height: 50px;
    display: inline-block;
}
#searchInput{
    border: none;
    outline: none;
    display: inline-block;
}
#logo{
    width: 30%;
    height: 100%;
    display: inline-block;
}
#accountCircle{
    width: 40px;
    display: inline-block;
}
#search{
    width: 40%;
    display: inline-block;
}
#cart{
    width: 40px;
    display: inline-block;
}