.name{
    text-align: left;
    font-weight: 400;
    font-size: var(--font-size-mid);
}
.main{
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
}
.container {
    height: 410px;
    width: 100%;
    margin: auto;
    background-color: #D9D9D9;
    border-radius: var(--br-6xs);
    display: flex;
    align-items: center;
}

.back,.forward{
    display: inline-block;
    width: max-content;
    height: max-content;
    margin-left: 5px;
}

.forward {
    transform: rotate(180deg);
}

.items {
    display: flex;

    overflow: hidden;
    width: 90%;
    }
.item{
    border-radius: 50px;
}
.item:not(:first-child){
    margin-left: 20px;
}