.main {
    width: 95%;
    position: absolute;
    left: 1%;
    top: 45px;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.hide {
    display: none;
}

.suggestion {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 10px;

}

.icon {
    height: 18px;
    width: 18px;
}

.title {
    font-weight: 500;
    font-size: 17px;
    margin: 0px;
    margin-left: 15px;
    color: rgb(44, 44, 44);
}