.main{
    width: 95%;
    position: absolute;
    left: 1%;
    top: 45px;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.hide{
    display: none;
}
.suggestion{
    display: flex;
    align-items: center;
}
.icon{

}
.title{

}