.cart_page {
    display: flex;
}

.main {
    width: 100%;
}

.cart_page {
    width: 100%;

}

.cart {
    background-color: white;
}

.cart_heading {
    border-bottom: 1px solid black;
}

.cart_heading h1 {
    font-weight: 400;
}

.deselect_btn {
    background-color: white;
    color: rgb(0, 149, 255);
    border: none;
    outline: none;
}

.price_label {
    float: right;
}

.product {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 6px;
    box-sizing: border-box;
}

.product:not(:first-child) {
    border-top: 1px solid black;
}

.stock {
    color: green;
    font-size: small;
}

.size {
    font-size: small;
}

.color {
    font-size: small;
}

.qty {
    border-radius: 5px;
}

.delete,
.save {
    font-size: medium;
    font-weight: 500;
}

.save {
    margin-right: 10px;
    margin-left: 10px;
}

.discount {
    color: green;
    width: max-content;
    font-weight: 500;
}

.price {
    font-size: large;
    font-weight: 500;
    margin-right: 10px;
}

.mrp {
    font-weight: 400;
    color: grey;
    text-decoration: line-through;
    font-size: medium;
    margin-right: 10px;
}

.thumbnail {
    width: 200px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.details {
    margin-left: 30px;
}

.details .title {
    font-weight: 300;
    font-size: large;
}

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 6px;

}

.address h2 {
    font-weight: 300;
    font-size: medium;
    float: left;
    margin-left: 30px;
    flex: 1;
}

.address div {

    flex: 1;
}

.address button {
    float: right;
    margin-right: 15px;
    background-color: white;
    padding: 8px;
    color: rgb(0, 132, 255);
    font-weight: 400;
    font-size: medium;
    outline: none;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 2px;
}

.cart_contents {
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 80vh;
    overflow: scroll;
    border: 1px solid #d7d6d6;
}

.delivery {
    margin-left: 20px;
    font-weight: 400;
    font-size: medium;
}

.prod_head {
    display: flex;
    align-items: center;
}

.controls {
    display: flex;
}

.quantity button {
    font-size: x-large;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(154, 153, 153);
    outline: none;
    background-color: white;
    text-align: center;
}

.quantity input {
    width: 20px;
    padding: 3px 10px;
    text-align: center;
    margin: 0px 10px;
}

.quantity {
    display: flex;
    align-items: center;
}

.prods {

    overflow: scroll;
}

.price_breakup {
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #eeecec;
    width: 350px;
}

.place_order {
    background-color: white;
    border-top: 1px solid;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place_order button {
    padding: 8px;
    background-color: #fb641b;
    color: white;
    font-size: large;
    font-weight: 400;
    float: right;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.place_order div {
    flex: 2;
}

.place_order h2 {
    flex: 1;
    font-weight: 500;
}
.price_breakup div:first-child{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding:20px 20px 10px 20px;
}
.price_breakup div:first-child h2{
    margin: 0px;
    padding: 0px;
    color: grey;
    font-size: medium;
    font-weight: 500;
}
.price_breakup table{
    padding: 20px;
    width: 100%;
}
.price_breakup td{
   padding:10px 0px;
}
.green{
    color: green;
}
.savings{
    font-size: medium;
    font-weight: 500;
    color: #388e3c;
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
}