.main{
    max-width: 100%;
    overflow: scroll;
    display: flex;
    margin-top: 10px;
}
.products{
    background-color: white;
    margin-left: 10px;
    padding-top: 20px;
    /* padding:5px 10px; */
}
.all_products{
    /* display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 35px;
    padding: 5px 10px; */
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;

}
.sorts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0px 10px;
    height: 30px;
    font-size: 13px;
}
.sorts h3:not(:first-child){
    font-weight: 400;
    padding: 0px 7px;
    cursor: pointer;
}
.sorts h3:not(:first-child):hover{
    transition: 0.3s;
    text-decoration: underline;
    color: rgb(20, 129, 192);
}
.sorts h3:first-child{
    font-weight: 500;
}
.sorts h3{
    margin: none;
    padding: none;
}
.sorts_cont{
    width: 100%;
    border-bottom: 1px solid black;
}
/* .product:not(:first-child){
    margin-left: 20px;
    display: inline-block;
} */
.sidebar{
    margin-left: 15px;
}