.gallery{
    width: 50%;
    height: 500px;
    border-radius: 1px solid black;
    margin-top: 20px;
    display: inline-flex;
    margin-right: 20px;
}
.icons{
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.icon{
    width: 60px;
    height: 60px;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.icon:not(:first-child){
    margin-top: 20px;
}
.image{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:calc(100%-80px);
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: rgb(234, 234, 234);
}
.image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px  10px 3px rgb(51, 52, 52);
}
.active{
    outline: 4px solid rgba(16, 166, 208, 0.312);
    /* box-shadow: 1px 1px 3px 0px rgb(40, 130, 255) ; */
}