.main {
    background-color: white;
    padding: 15px;
    padding: 30px;
}
.main h3:first-child{
    font-weight: 500;
    margin: 0px;
    margin-bottom: 20px;
}
.add_address {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
}

.add_address img {
    padding-right: 8px;
}

.add_address span {
    display: block;
    color: #2874f0;
    font-weight: 600;
}

.addresses {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 2px;
}

