@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-roboto);
  max-width: 100% !important;
  padding-right: 5px;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-darkgreen: #2c6b0f;
  --color-black: #000;
  --color-dimgray-100: #737373;
  --color-dimgray-200: #595959;
  --color-gainsboro: #d9d9d9;

  /* Border radiuses */
  --br-xl: 20px;
  --br-6xs: 7px;
  --br-8xs: 5px;
  --br-2xl: 21px;
  --br-sm: 14px;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar{
  display: none;
}